{#
/**
 * @file
 * Displays the list of Meetings and Meetings Documents
 *
 * Available variables
 * - meetings: The meetings JSON data from OnBoard
 * - year:     The year for the meetings being listed
 * - years:    The available years of meetingFiles we have for the committee
 * - node:     The node object for the board page in Drupal
 *
 * @copyright 2017 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE.txt
 */
#}
<section>
    <header>
        <div>
            {% set route = 'onboard.meetingList.node-' ~ node.id %}
            {% for y, count in years %}
            <a href="{{ path(route, {'node':node.id, 'year':y}) }}"{% if y == year %} class="current"{% endif %}>
                {{ y }}
            </a>
            {% endfor %}

            {% set route = 'onboard.meetingYears.node-' ~ node.id %}
            <a href="{{ path(route, {'node':node.id}) }}">Archive</a>
        </h2>
    </header>

    <table>
    {% for date, meeting in meetings %}
    <tr><th>{{ date }}</th>
        <td>{{ meeting.summary }}</td>
        <td>{% for type, files in meeting.files %}
                {% for c, file in files %}
                <a href="{{ file.url }}">
                    {% if file.title %}
                    {{ file.title }}
                    {% else %}
                    {{ type }}{% if c %} ({{ c }}){% endif %}
                    {% endif %}
                    {% if not loop.last %},{% endif %}
                </a>
                {% endfor %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </table>
</section>
