{#
/**
 * @file
 * Displays a single Parks and Rec Programs
 *
 * Available variables
 * - program: The program JSON data from Promt
 *
 * @copyright 2017-2018 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 */
#}
<div><p>{{ program.statement }}</p></div>
<dl>
    {% if program.start_date      %}<dt>Start Date</dt>     <dd>{{ program.start_date|date('F j, Y') }}</dd>{% endif %}
    {% if program.start_time      %}<dt>Start Time</dt>     <dd>{{ program.start_time      }}</dd>{% endif %}
    {% if program.instructor      %}<dt>Instructor</dt>     <dd>{{ program.instructor      }}</dd>{% endif %}
    {% if program.member_fees     %}<dt>Member Fees</dt>    <dd>{{ program.member_fees     }}</dd>{% endif %}
    {% if program.non_member_fees %}<dt>Non Member Fees</dt><dd>{{ program.non_member_fees }}</dd>{% endif %}
    {% if program.in_city_fees    %}<dt>In City Fees</dt>   <dd>{{ program.in_city_fees    }}</dd>{% endif %}
    {% if program.non_city_fees   %}<dt>Non City Fees</dt>  <dd>{{ program.non_city_fees   }}</dd>{% endif %}
    {% if program.participant_age %}<dt>Ages</dt>           <dd>{{ program.participant_age }}</dd>{% endif %}
    {% if program.location %}
    <dt>Location</dt>
    <dd>{% if program.location_url %}<a href="{{ program.location_url }}">{{ program.location }}</a>
        {% else %}{{ program.location }}
        {% endif %}
    </dd>
    {% endif %}
</dl>
{% if program.sessions %}
    <table>
        {% for s in program.sessions %}
        <tr><td>{{ s.code }}</td>
            <td>{{ s.days }}</td>
            <td>{{ s.start_date }} - {{ s.end_date }}</td>
            <td>{{ s.start_end_time }}</td>
            {% if s.in_city_fees    %}<td>{{ s.in_city_fees    }}</td>{% endif %}
            {% if s.non_city_fees   %}<td>{{ s.non_city_fees   }}</td>{% endif %}
            {% if s.member_fees     %}<td>{{ s.member_fees     }}</td>{% endif %}
            {% if s.non_member_fees %}<td>{{ s.non_member_fees }}</td>{% endif %}
            {% if s.participant_age %}<td>{{ s.participant_age }}</td>{% endif %}
            <td>{{ s.description }}</td>
        </tr>
        {% endfor %}
    </table>
    {% if program.rectrac_id %}
    <a class="button"
        href="https://webtrac.bloomington.in.gov/wbwsc/webtrac.wsc/search.html?Primarycode={{ program.rectrac_id }}">
        Enroll Now
    </a>
    {% endif %}
{% endif %}
