{% for person in department.people %}
<div class="member">
    <h3>{% if person.displayname %}
        {{ person.displayname }}
        {% else %}
        {{ person.firstname }} {{ person.lastname }}
        {% endif %}
    </h3>
    <dl>{% if person.title %}
        <dt>Title</dt>
        <dd>{{ person.title }}</dd>
        {% endif %}
        {% if person.email %}
        <dt>Email</dt>
        <dd><a href="mailto:{{ person.email }}">{{ person.email }}</a></dd>
        {% endif %}
        {% if person.pager %}
        <dt>Phone</dt>
        <dd><a href="tel:{{ person.pager }}" class="phone" title="Phone">
                {{ person.pager }}
            </a>
        </dd>
        {% endif %}
    </dl>
</div>
{% endfor %}
